.message-me {
  font-weight: bold;
}

.list-group-chat {
  padding-top: .5rem;
  padding-bottom: .5rem;

  .list-group-item {
    border: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.connector-item {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;

    strong {
        margin-top: 5px;
        margin-right: 5px;
    }

    .spinner-border {
        margin-right: 4px;
    }
}

.msg-text {
  white-space: pre-wrap;
}