<form>
    <div class="form-group row" *ngIf="publicUrl && privateUrl">
        <label class="col-sm-4 col-md-3 col-xl-2 col-form-label text-primary" for="publicUrl">Public chat URL:</label>
        <div class="col-sm-8 col-md-9 col-xl-10">
            <input class="form-control form-control-sm" type="text" readonly [value]="publicUrl" id="publicUrl" (click)="$event.target.select()">
        </div>
        <!--</div>
        <div class="form-group row" *ngIf="privateUrl">-->
        <label class="col-sm-4 col-md-3 col-xl-2 col-form-label text-danger" for="privateUrl">Personal chat URL:</label>
        <div class="col-sm-8 col-md-9 col-xl-10">
            <input class="form-control form-control-sm" type="text" readonly [value]="privateUrl" id="privateUrl" (click)="$event.target.select()">
        </div>
    </div>
</form>

<div class="card">
    <div *ngIf="loadMoreMessagesSubscription != null" class="text-muted text-center card-body">
        <div class="spinner-border spinner-border-sm text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>&nbsp;
        <small>loading more messages ...</small>
    </div>
    <div *ngIf="loadMoreMessagesSubscription == null && loadedMessages < knownMessageSize" class="text-center card-body">
        <button class="btn btn-link btn-sm" (click)="loadMoreMessages()">(load {{knownMessageSize - loadedMessages}} more messages ...)</button>
    </div>

    <ul class="list-group list-group-flush list-group-chat">
        <li *ngFor="let msg of messages" class="list-group-item">
            <small class="text-muted">{{formattedDate(msg.ts)}}</small>&nbsp;
            <span [style.color]="msg.senderInfo.color" [class.message-me]="msg.sender == userPublic" [ngbTooltip]="(msg.sender == userPublic ? 'That\'s me. ' : '') + 'UserID: '+msg.senderInfo.shortkey">{{msg.senderInfo.name}}</span>
            <small *ngIf="msg.senderInfo.number > 0" class="text-muted" ngbTooltip="This name is taken by multiple users. Numbers are provided for disambiguation."> #{{msg.senderInfo.number+1}}</small>
            <span>: {{msg.text}}</span>
        </li>
    </ul>

    <div class="card-body text-muted" *ngIf="messages.length == 0">
        Write a message to start this chat!
    </div>
</div>

<br/>

<form (submit)="sendMessage(textinput)">
    <div class="form-group">
        <label for="messagetext" class="sr-only">Your message:</label>
        <textarea class="form-control" id="messagetext" name="messagetext" name="textinput" [(ngModel)]="textinput" placeholder="write your message ..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send message</button>
</form>
