<h1 i18n>About SecretNote</h1>
<p>
    SecretNote is free and open source software, powered by Rust, Redis and Angular.
    Anyone is free to host custom instances free of charge.
</p>

<h5>
    Version
    <span class="badge badge-primary" *ngIf="environment.build.version">{{ environment.build.version }}</span>
</h5>
<p>
    Build time: {{environment.build.build_time}}<br/>
    Git commit: <code>{{environment.build.git_hash}}</code>
</p>

<br/>
<br/>

<h5 i18n>Privacy Policy</h5>
<p><strong i18n>Scope: </strong> Website <code>https://secretnote.mk-bauer.de</code>.</p>
<p i18n="@@gdpr-responsibility"><strong>Responsibility:</strong>
    For questions or requests regarding personal data contact
    <code>secretnote AT mk-bauer DOT de</code>.
    This website is hosted by <a href="https://uberspace.de/" rel="nofollow">Uberspace</a> which process data for us.
    We signed a data processing contract with Uberspace.
</p>
<p i18n="@@gdpr-security">
    <strong>Security:</strong>
    We use modern methods to protect transfer and storage of personal information, including TLS encryption of all connections.
</p>
<p i18n="@@gdpr-data">
    <strong>Processed data:</strong>
    We process two types of personal data:
    User's encrypted messages and technical information about website access, including IP addresses.
</p>
<p i18n="@@gdpr-rights">
    <strong>Your rights:</strong>
    According to the GDPR, users have the right of access, correction or removal of personal information,
    or limitation of processing.
    We do not store data based on consent, as defined in Article 6 1a) GDPR.
</p>
<p i18n="@@gdpr-usermessages">
    <strong>Processing of user messages:</strong>
    We process written messages solely in encrypted form, it is technically not possible for us to access this personal data.
    Processing is legally based on Article 6 1b) GDPR.
    The current retention period for messages is stated when storing new messages.
</p>
<p i18n="@@gdpr-serverdata">
    <strong>Processing of server data:</strong>
    We preserve the right to store server logs, containing your IP address and statistical information about your system (operating system and browser version).
    We use these logs for administrative purposes only, to keep up reliability, usability and security of this website.
    Processing is legally based on Article 6 1f) GDPR.
    Stored information are erased once we don't need them for the named purposes.
</p>
<p i18n="@@gdpr-changes">We reserve the right to change or update this privacy policy at any point in time.</p>