<form (submit)="store()">
    <div class="form-group">
        <label for="storeNoteInput" i18n>Store a note - encrypted!</label>
        <textarea name="text" class="form-control" id="storeNoteInput" [(ngModel)]="text" #textInput rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">
        <span appOcticon octicon="comment" width="24"></span>&nbsp;
        <ng-container i18n>Store Note</ng-container>
    </button>
</form>


<br/>
<br/>
<p>
    For the note you'll get a <span class="text-primary" i18n>secret link</span>:
    Only with this link your recipient can decrypt and read the note.
    After your note has been read it will be removed permanently - no one else will be able to see it.
</p>
<p>With a second <span class="text-danger" i18n>admin link</span> you will be able to see when your note has been read.</p>
<p><small i18n>Notes are deleted after they have been read one, latest 7 days after creation.</small></p>