<div *ngIf="state == 'loading'">
    <div class="spinner-border spinner-border-sm text-secondary" role="status">
        <span class="sr-only" i18n="@@loading">Loading...</span>
    </div>&nbsp;
    loading ...
</div>
<div *ngIf="state == 'missing'" i18n>This note has expired (or the link is invalid).</div>
<div *ngIf="state == 'already_read'" i18n>This note has already been read.</div>
<div *ngIf="state == 'error'">
    Error.
</div>
<div *ngIf="state == 'ready'">
    <p i18n>Note <code>{{ident}}</code> has not been read - yet.</p>

    <br/>

    <form>
        <div class="form-group">
            <label for="url" i18n>It can be retrieved with the <span class="text-primary">secret link</span> below - but only once</label>
            <input type="text" id="url" class="form-control form-control-sm" readonly [value]="url" (click)="$event.target.select()">
        </div>
    </form>

    <br/>

    <form>
        <div class="form-group">
            <label for="adminUrl" i18n>You can check if the note was read using this <span class="text-danger">admin link</span>:</label>
            <input type="text" id="adminUrl" class="form-control form-control-sm" readonly [value]="adminUrl" (click)="$event.target.select()">
        </div>
    </form>

    <br/>

    <p *ngIf="!noteStatus.notify" class="text-muted" i18n>Telegram read notifications have not been configured.</p>
    <form (submit)="addTelegramReadNotification(telegramNotification)">
        <div class="form-group">
            <label for="notifyTo" i18n>Enter your Telegram username or chat ID to receive read notifications:</label>
            <div class="input-group input-group-sm">
                <input type="text" name="notifyTo" id="notifyTo" class="form-control" [(ngModel)]="telegramNotification" [class.is-valid]="noteStatus.notify && noteStatus.notify_to_valid" [class.is-invalid]="noteStatus.notify_to && !noteStatus.notify_to_valid">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" *ngIf="noteStatus.notify">Update</button>
                    <button type="submit" class="btn btn-primary" *ngIf="!noteStatus.notify">Request Notification</button>
                </div>
                <div class="valid-feedback" i18n>
                    Telegram user <em>{{noteStatus.notify_to}}</em> will receive a read notification.
                </div>
                <div class="invalid-feedback" i18n>
                    Telegram user <em>{{noteStatus.notify_to}}</em> has not started the <a [href]="'https://t.me/'+telegramBotName" rel="noreferrer" target="_blank">SecretNote Telegram Bot</a>.
                    Connect with the bot now: <a [href]="'https://t.me/'+telegramBotName" rel="noreferrer" target="_blank">https://t.me/{{telegramBotName}}</a>
                </div>
            </div>
        </div>
    </form>
</div>
