<div *ngIf="state == 'loading'">
    <div class="spinner-border spinner-border-sm text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>&nbsp;
    loading ...
</div>
<div *ngIf="state == 'missing'">This note has already been read (or the link is invalid).</div>
<div *ngIf="state == 'error'">
    Error.
</div>
<div *ngIf="state == 'ready'">
    <p>Note <code>{{ident}}</code> has not been read - yet.</p>

    <br/>

    <form>
        <div class="form-group">
            <label for="url">It can be retrieved with the <span class="text-primary">secret link</span> below - but only once</label>
            <input type="text" id="url" class="form-control form-control-sm" readonly [value]="url" (click)="$event.target.select()">
        </div>
    </form>

    <br/>

    <form>
        <div class="form-group">
            <label for="adminUrl">You can check if the note was read using this <span class="text-danger">admin link</span>:</label>
            <input type="text" id="adminUrl" class="form-control form-control-sm" readonly [value]="adminUrl" (click)="$event.target.select()">
        </div>
    </form>
</div>
