<nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">SecretNote</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="ui.toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="ui.navbarCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="/"><span appOcticon octicon="comment"></span> New Note</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/chat/create"><span appOcticon octicon="comment-discussion"></span> New Chat</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/faq">F.A.Q</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
            </ul>
            <span class="navbar-text" *ngIf="environment.build.version">
                {{environment.build.version}}
            </span>
        </div>
    </div>
</nav>

<br/>

<div class="container">
    <div class="toast-container" aria-live="polite" aria-atomic="true" >
        <ngb-toast *ngFor="let alert of ui.alerts"
                   [autohide]="true" [delay]="alert.delay || 5000" [class]="alert.class"
                   [header]="alert.header || null"
                   (hide)="ui.close(alert)">{{alert.message}}</ngb-toast>
    </div>
    <router-outlet></router-outlet>
</div>

<br/>
<br/>