<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">SecretNote</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/faq">F.A.Q</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>

<div class="container">
    <router-outlet></router-outlet>
</div>
